{% extends 'base.html' %}


{% block header %}
    <h1>{{ user_info['username'] }}'s {% block title %}Profile{% endblock %}</h1>
{% endblock %}


{% block content %}
    <br>
    <h3 style="display: inline;">Joined:</h3>
    <h4 style="display: inline;">{{ user_info['joined'] }}</h4>
    <br>
    <h3 style="display: inline;">Posts:</h3>
    <h4 style="display: inline;">{{ user_posts }}</h4>
    <br><br>
    <h4 style="display: inline;">You are account #{{ user_info['id'] }}!</h4>

{% endblock %}

